.vscode/**
.vscode-test/**
src/**
.codex
.codex/**
.npm-global/**
.github/**
*.vsix
CONTRIBUTING.md
flake.nix
flake.lock
.gitignore
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
out/test/**
